//
//  Config.xcconfig
//  XCMBuild
//
// reactive-firewall/XCMBuild Repo xcconfig
// ..................................
// Copyright (c) 2023, Mr. Walls
// ..................................
// Licensed under APACHE-2 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// ..........................................
// http://www.apache.org/licenses/LICENSE-2.0
// ..........................................
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//:configuration = Debug
OBJROOT = build
VALIDATE_PRODUCT = YES
COMBINE_HIDPI_IMAGES = YES
SKIP_INSTALL[sdk=macos*] = NO
INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.developer-tools
INFOPLIST_KEY_NSPrincipalClass = XCMBuildSystem
OTHER_LDFLAGS = -framework Foundation,framework
GENERATE_MASTER_OBJECT_FILE = NO
APPLY_RULES_IN_COPY_FILES = YES
DEFINES_MODULE = YES
GENERATE_INFOPLIST_FILE = YES
DONT_GENERATE_INFOPLIST_FILE = !$(GENERATE_INFOPLIST_FILE)
GENERATE_PKGINFO_FILE[sdk=macosx*] = $(GENERATE_INFOPLIST_FILE)
INFOPLIST_PREPROCESS = $(GENERATE_INFOPLIST_FILE)
PRODUCT_NAME = $(TARGET_NAME:c99extidentifier)
GENERATE_TEXT_BASED_STUBS = YES
TAPI_ENABLE_PROJECT_HEADERS[sdk=macosx*] = $(GENERATE_TEXT_BASED_STUBS)
TAPI_EXTRA_PRIVATE_HEADERS = xcrunshell.h
TAPI_EXTRA_PUBLIC_HEADERS = XCMTest.h
TAPI_VERIFY_MODE = Pedantic
GCC_GENERATE_TEST_COVERAGE_FILES = $(CLANG_ENABLE_CODE_COVERAGE)
GCC_INPUT_FILETYPE = sourcecode.c.objc
CLANG_MODULES_DISABLE_PRIVATE_WARNING = YES
CLANG_MODULES_AUTOLINK = NO
CLANG_LINK_OBJC_RUNTIME = YES
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_STRICT_SELECTOR_MATCH = YES
CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK = YES_AGGRESSIVE
ENABLE_MODULE_VERIFIER = YES
MODULE_VERIFIER_SUPPORTED_LANGUAGES = objective-c
STRIP_PNG_TEXT = YES
DOCC_EXTRACT_SWIFT_INFO_FOR_OBJC_SYMBOLS = YES
RUN_CLANG_STATIC_ANALYZER = YES
CLANG_STATIC_ANALYZER_MODE = shallow
CLANG_STATIC_ANALYZER_MODE[sdk=macosx*] = deep
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES
SUPPORTS_MACCATALYST = YES
FRAMEWORK_VERSION = $(inhereted)

//:configuration = Release
OBJROOT = build
VALIDATE_PRODUCT = YES
COMBINE_HIDPI_IMAGES = YES
SKIP_INSTALL[sdk=macosx*] = NO
INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.developer-tools
INFOPLIST_KEY_NSPrincipalClass = XCMBuildSystem
OTHER_LDFLAGS = -framework Foundation,framework
GENERATE_MASTER_OBJECT_FILE = NO
APPLY_RULES_IN_COPY_FILES = YES
DEFINES_MODULE = YES
DONT_GENERATE_INFOPLIST_FILE = NO
GENERATE_INFOPLIST_FILE = YES
INFOPLIST_PREPROCESS = $(GENERATE_INFOPLIST_FILE)
PRODUCT_NAME = $(TARGET_NAME:c99extidentifier)
ENABLE_HARDENED_RUNTIME = YES
TREAT_MISSING_BASELINES_AS_TEST_FAILURES = YES
GENERATE_TEXT_BASED_STUBS = NO
TAPI_EXTRA_PRIVATE_HEADERS = xcrunshell.h
TAPI_EXTRA_PUBLIC_HEADERS = XCMTest.h
TAPI_VERIFY_MODE = ErrorsAndWarnings
GCC_INPUT_FILETYPE = sourcecode.c.objc
CLANG_LINK_OBJC_RUNTIME = YES
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_STRICT_SELECTOR_MATCH = YES
CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK = $(RUN_CLANG_STATIC_ANALYZER)
ENABLE_MODULE_VERIFIER = YES
MODULE_VERIFIER_SUPPORTED_LANGUAGE_STANDARDS = $(inhereted) c11 gnu11 gnu++20
MODULE_VERIFIER_SUPPORTED_LANGUAGES = objective-c
STRIP_PNG_TEXT = YES
RUN_DOCUMENTATION_COMPILER = YES
DOCC_EXTRACT_SWIFT_INFO_FOR_OBJC_SYMBOLS = YES
OSACOMPILE_EXECUTE_ONLY = YES
RUN_CLANG_STATIC_ANALYZER = YES
CLANG_ANALYZER_GCD_PERFORMANCE = YES
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES
CLANG_TIDY_MISC_REDUNDANT_EXPRESSION = YES
CLANG_TIDY_BUGPRONE_REDUNDANT_BRANCH_CONDITION = YES
SUPPORTS_MACCATALYST = YES
FRAMEWORK_VERSION = $(CURRENT_PROJECT_VERSION).$(PROJECT_VERSION_BUILD)


//:completeSettings = some
ON_DEMAND_RESOURCES_INITIAL_INSTALL_TAGS = XCMBuild
PRODUCT_NAME = $(PROJECT_NAME:c99extidentifier)
INFOPLIST_KEY_NSPrincipalClass = XCMBuildSystem
//STRINGS_FILE_OUTPUT_ENCODING = $(inhereted)
WRAPPER_EXTENSION = framework
WRAPPER_NAME = $(PRODUCT_NAME:c99extidentifier).$(WRAPPER_EXTENSION)
//CONTENTS_FOLDER_PATH = $(PRODUCT_NAME:c99extidentifier).$(WRAPPER_EXTENSION)/Versions/$(MARKETING_VERSION)
INSTALL_PATH = $(LOCAL_LIBRARY_DIR:standardizepath)/Frameworks
DYLIB_INSTALL_NAME_BASE = $(INSTALL_PATH)
DEAD_CODE_STRIPPING = YES
//MACOSX_DEPLOYMENT_TARGET = $(inhereted)
//CODE_SIGN_IDENTITY = $(inhereted)
//CODE_SIGN_IDENTITY[sdk=macosx*] = Apple Development
//CODE_SIGN_STYLE = $(inhereted)
OTHER_CODE_SIGN_FLAGS = $(inhereted) --prefix=$(PRODUCT_ORG_IDENTIFIER) --identifier=$(PRODUCT_ORG_IDENTIFIER)$(PRODUCT_NAME) -o linker-signed,hard
//LLVM_LTO = $(inhereted)
LD_RUNPATH_SEARCH_PATHS = $(inherited) $(LOCAL_LIBRARY_DIR:standardizepath)/Frameworks/** @executable_path/../Frameworks @loader_path/Frameworks
//KEEP_PRIVATE_EXTERNS = $(inhereted)
//MODULEMAP_FILE = $(inhereted)
//MACOSX_DEPLOYMENT_TARGET = $(inhereted)
//MACOSX_DEPLOYMENT_TARGET[arch=i386] = $(RECOMMENDED_MACOSX_DEPLOYMENT_TARGET)
MACOSX_DEPLOYMENT_TARGET[arch=x86_64] = 13.3
MACOSX_DEPLOYMENT_TARGET[arch=arm64] = 13.3
//STRINGS_FILE_OUTPUT_ENCODING = $(inhereted)
//INFOPLIST_OUTPUT_FORMAT = $(inhereted)
//PRODUCT_ORG_IDENTIFIER = $(inhereted)

// -pie vs. -seg1addr issues


//PRELINK_FLAGS = $(inhereted) -export_dynamic
//PRELINK_FLAGS[sdk=macosx*][arch=i386] = $(inhereted) -export_dynamic -seg1addr 0xb0000000 -why_live
