.DS_Store

# C extensions
*.[ao]
*.so
*.dylib
*.dll

# Distribution / packaging
env/
build/
dist/
downloads/
lib/
lib64/
# Cache and Temps
*~
*.tmp
.[Cc]ache
Traces/
*.log
# don't store keychains
trustdb.gpg
*.kbx
Icon*
*.workflow/xcuserdata
*.xcodeproj/xcuserdata
*.workflow/xcuserdata/*
*.xcodeproj/project.workflow/xcuserdata/*
# prevent including 3rd party git pre-rebase.sample
*.xcodeproj/hooks/pre-rebase
*.xcodeproj/hooks/pre-rebase.sample
swiftpm
swiftpm/*
IDEWorkspaceChecks.plist

# XCMB Stuff
XCMBuild/XCMAnalyze
XCMBuild/XCMAnalyze/*.h
XCMBuild/XCMAnalyze/*.m
XCMBuild/XCMArchive
XCMBuild/XCMArchive/*.h
XCMBuild/XCMArchive/*.m
XCMBuild/XCMDocBuild
XCMBuild/XCMDocBuild/*.h
XCMBuild/XCMDocBuild/*.m
XCMBuild/XCMInstall
XCMBuild/XCMInstall/*.h
XCMBuild/XCMInstall/*.m
XCMBuild/XCMProfile
XCMBuild/XCMProfile/*.h
XCMBuild/XCMProfile/*.m
shared/XCMAnalyze-Info.plist
shared/XCMArchive-Info.plist
shared/XCMDocBuild-Info.plist
shared/XCMInstall-Info.plist
shared/includes/XCMAnalyze.make
shared/includes/XCMArchive.make
shared/includes/XCMDocBuild.make
shared/includes/XCMInstall.make
shared/security/entitlements/XCMAnalyze.entitlements
shared/security/entitlements/XCMArchive.entitlements
shared/security/entitlements/XCMDocBuild.entitlements
shared/security/entitlements/XCMInstall.entitlements
shared/security/entitlements/XCMProfile.entitlements

old_build/*
old_dist/*
