*~
.DS_Store

# C extensions
*.[ao]
*.so
*.dylib
*.dll

# Distribution / packaging
env/
build/
dist/
downloads/
lib/
lib64/
.cache
*.log
# don't store keychains
trustdb.gpg
*.kbx
Icon*
*.workflow/xcuserdata
*.xcodeproj/xcuserdata
*.workflow/xcuserdata/*
*.xcodeproj/project.workflow/xcuserdata/*
# prevent including 3rd party git pre-rebase.sample
*.xcodeproj/hooks/pre-rebase
*.xcodeproj/hooks/pre-rebase.sample
swiftpm
swiftpm/*
IDEWorkspaceChecks.plist