//
//  Config.xcconfig
//  XCMBuild
//
// reactive-firewall/XCMBuild Repo Makefile
// ..................................
// Copyright (c) 2023, Mr. Walls
// ..................................
// Licensed under APACHE-2 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// ..........................................
// http://www.apache.org/licenses/LICENSE-2.0
// ..........................................
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


//:completeSettings = Default
CURRENT_PROJECT_VERSION = $(PROJECT_VERSION_MAJOR).$(PROJECT_VERSION_MINOR)
DYLIB_COMPATIBILITY_VERSION = $(PROJECT_VERSION_MAJOR)
DYLIB_CURRENT_VERSION = $(PROJECT_VERSION_MAJOR).$(PROJECT_VERSION_MINOR)
FRAMEWORK_VERSION = $(PROJECT_VERSION_MAJOR).$(PROJECT_VERSION_MINOR).$(PROJECT_VERSION_BUILD)
MARKETING_VERSION = $(FRAMEWORK_VERSION)
MODULE_VERSION = $(DYLIB_COMPATIBILITY_VERSION)
VERSIONING_SYSTEM = apple-generic
VERSION_INFO_PREFIX = PAK_
VERSION_INFO_BUILDER = "Mr. Walls"
VERSIONS_FOLDER_PATH = $(WRAPPER_NAME)/Versions
VERSIONS_FOLDER_PATH_SHALLOW_BUNDLE_NO = $(WRAPPER_NAME)/Versions
VERSIONS_FOLDER_PATH_SHALLOW_BUNDLE_YES = $(WRAPPER_NAME)
SDKROOT = macosx
SYMROOT = $(PROJECT_DIR:standardizepath)/$(BUILD_DIR)/$(CONFIGURATION)
// SYSTEM_LIBRARY_DIR = defaults to /System/Library
// SYSTEM_DOCUMENTATION_DIR = defaults to /Library/Documentation
PROJECT_TEMP_DIR = $(PROJECT_TEMP_ROOT:standardizepath)/$(PROJECT_NAME).build // defaults to $(PROJECT_TEMP_ROOT)/$(PROJECT_NAME).build
//CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/$(CONFIGURATION) // defaults to $(PROJECT_TEMP_DIR)/$(CONFIGURATION)
TARGET_TEMP_DIR = $(PROJECT_TEMP_DIR:standardizepath)/Cache/$(TARGET_NAME).tmp
//TEMP_FILES_DIR = $(PROJECT_TEMP_DIR:standardizepath)/Cache
//TEMP_FILE_DIR
REZ_COLLECTOR_DIR = $(TARGET_TEMP_DIR:standardizepath)/ResourceManagerResources
SHARED_DERIVED_FILE_DIR = $(OBJROOT:standardizepath)/SharedDerivedSources
BUILD_DIR = build
BUILD_ROOT = $(PROJECT_DIR:standardizepath)/$(BUILD_DIR)
//UNINSTALLED_PRODUCTS_DIR
CONFIGURATION_BUILD_DIR = $(BUILD_ROOT:standardizepath)/$(CONFIGURATION) // defaults to $(BUILD_DIR)/$(CONFIGURATION)
SHARED_PRECOMPS_DIR = $(OBJROOT:standardizepath)/SharedPrecompiledHeaders
//STRINGSDATA_DIR
//INSTALL_ROOT = $(LOCAL_LIBRARY_DIR:standardizepath)
INSTALL_PATH = $(LOCAL_LIBRARY_DIR:standardizepath)/Frameworks
DYLIB_INSTALL_NAME_BASE = $(INSTALL_PATH:standardizepath)
DEVELOPMENT_ASSET_PATHS = .github .git $(inhereted)
FRAMEWORK_SEARCH_PATHS = $(LOCAL_LIBRARY_DIR:standardizepath)/Frameworks $(DYLIB_INSTALL_NAME_BASE:standardizepath)/** $(BUILT_PRODUCTS_DIR:standardizepath)/$(DYLIB_INSTALL_NAME_BASE:standardizepath) $(inhereted)
CONTENTS_FOLDER_PATH = $(VERSIONS_FOLDER_PATH:standardizepath)/$(FRAMEWORK_VERSION)
DEAD_CODE_STRIPPING = YES
BUNDLE_CONTENTS_FOLDER_PATH = $(inhereted)
BUNDLE_CONTENTS_FOLDER_PATH_deep = $(BUNDLE_CONTENTS_FOLDER_PATH:standardizepath)/Versions/$(FRAMEWORK_VERSION)
//BUNDLE_EXECUTABLE_FOLDER_PATH = $(BUNDLE_CONTENTS_FOLDER_PATH:standardizepath)/MacOS
//BUNDLE_EXTENSIONS_FOLDER_PATH = $(BUNDLE_CONTENTS_FOLDER_PATH:standardizepath)/Extensions
// BUNDLE_FORMAT = deep
//BUNDLE_FRAMEWORKS_FOLDER_PATH = $(BUNDLE_CONTENTS_FOLDER_PATH:standardizepath)/Frameworks
//BUNDLE_PLUGINS_FOLDER_PATH = $(BUNDLE_CONTENTS_FOLDER_PATH:standardizepath)/PlugIns
BUNDLE_PRIVATE_HEADERS_FOLDER_PATH = $(BUNDLE_CONTENTS_FOLDER_PATH:standardizepath)/PrivateHeaders
BUNDLE_PUBLIC_HEADERS_FOLDER_PATH = $(BUNDLE_CONTENTS_FOLDER_PATH:standardizepath)/Headers
//FIXED_FILES_DIR
//FRAMEWORKS_FOLDER_PATH
//SHARED_FRAMEWORKS_FOLDER_PATH
MODULES_FOLDER_PATH = $(CONTENTS_FOLDER_PATH:standardizepath)/Modules
//GENERATED_MODULEMAP_DIR
//PLUGINS_FOLDER_PATH
//SCRIPTS_FOLDER_PATH
//UNLOCALIZED_RESOURCES_FOLDER_PATH
//DWARF_DSYM_FOLDER_PATH
//CODESIGNING_FOLDER_PATH
PRIVATE_HEADERS_FOLDER_PATH = $(CONTENTS_FOLDER_PATH:standardizepath)/PrivateHeaders
//SWIFT_OBJC_BRIDGING_HEADER =
//SWIFT_INSTALL_OBJC_HEADER = NO
PUBLIC_HEADERS_FOLDER_PATH = $(CONTENTS_FOLDER_PATH:standardizepath)/Headers
DOCUMENTATION_FOLDER_PATH = $(LOCAL_LIBRARY_DIR:standardizepath)/Documentation
//EXECUTABLES_FOLDER_PATH
//per-target
//EXECUTABLE_FOLDER_PATH
//UNINSTALLED_PRODUCTS_DIR
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
ENABLE_USER_SCRIPT_SANDBOXING = YES
//GENERATE_INFOPLIST_FILE = $(inhereted)
DONT_GENERATE_INFOPLIST_FILE = !$(GENERATE_INFOPLIST_FILE)
GENERATE_PKGINFO_FILE = NO
//GENERATE_PKGINFO_FILE[sdk=macosx*] = $(GENERATE_INFOPLIST_FILE)
INFOPLIST_PREPROCESS = $(GENERATE_INFOPLIST_FILE)
ASSETCATALOG_COMPILER_GENERATE_ASSET_SYMBOLS = $(DOCC_EXTRACT_EXTENSION_SYMBOLS)
ASSETCATALOG_COMPILER_GENERATE_SWIFT_ASSET_SYMBOL_EXTENSIONS = $(ASSETCATALOG_COMPILER_GENERATE_ASSET_SYMBOLS)
