//
//  Config.xcconfig
//  XCMBuild
//
// reactive-firewall/XCMBuild General Config
// ..................................
// Copyright (c) 2023-2024, Mr. Walls
// ..................................
// Licensed under APACHE-2 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// ..........................................
// http://www.apache.org/licenses/LICENSE-2.0
// ..........................................
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//:configuration = Debug
#include "DebugConfig.xcconfig"
PRODUCT_ORG_IDENTIFIER = org.adhoc.dt.
ONLY_ACTIVE_ARCH = NO
ALLOW_TARGET_PLATFORM_SPECIALIZATION = YES
DEBUG_INFORMATION_FORMAT = dwarf
INSTALL_GROUP = _developer
SKIP_INSTALL = YES
SKIP_INSTALL[sdk=macosx*] = NO
COPY_PHASE_STRIP = !$(SKIP_INSTALL)
STRIP_INSTALLED_PRODUCT[sdk=macosx*] = !$(ENABLE_TESTABILITY)
STRIP_STYLE = debugging
STRIP_STYLE[sdk=macosx*] = debugging
DEAD_CODE_STRIPPING = $(STRIP_INSTALLED_PRODUCT)
// KEEP_PRIVATE_EXTERNS = $(DEFINES_MODULE) // issue with -dynamiclib
ALWAYS_USE_SEPARATE_HEADERMAPS = YES
LD_GENERATE_MAP_FILE[arch=i386] = $(ONLY_ACTIVE_ARCH) // !$(ALLOW_TARGET_PLATFORM_SPECIALIZATION)
EAGER_LINKING = NO
COMPILER_INDEX_STORE_ENABLE = $(LD_GENERATE_MAP_FILE)
INFOPLIST_OUTPUT_FORMAT = XML
PRODUCT_NAME = $(TARGET_NAME:c17extidentifier)
PLIST_FILE_OUTPUT_FORMAT = XML
ALWAYS_SEARCH_USER_PATHS = NO
//CODE_SIGN_IDENTITY = $(inhereted)
DEVELOPMENT_TEAM = $(inhereted)
DEVELOPMENT_TEAM[sdk=macosx*] = $(inhereted)
ENABLE_HARDENED_RUNTIME = $(VALIDATE_PRODUCT)
OTHER_CFLAGS = -greproducible
OTHER_DOCC_FLAGS = --analyze --enable-inherited-docs --ide-console-output
CODE_SIGN_ALLOW_ENTITLEMENTS_MODIFICATION = YES
OTHER_CODE_SIGN_FLAGS = $(inhereted) --prefix=$(PRODUCT_ORG_IDENTIFIER)
GENERATE_TEXT_BASED_STUBS = NO
//GENERATE_TEXT_BASED_STUBS[sdk=macosx*] = $(SKIP_INSTALL)
TAPI_ENABLE_PROJECT_HEADERS[sdk=macosx*] = $(GENERATE_TEXT_BASED_STUBS) && $(EAGER_LINKING)
TAPI_VERIFY_MODE = ErrorsAndWarnings // No Condition allowed for this setting
LLVM_LTO = $(ALLOW_TARGET_PLATFORM_SPECIALIZATION)
LLVM_LTO[sdk=macosx*][arch=arm64] = YES_THIN
LLVM_LTO[sdk=macosx*][arch=x86_64] = YES_THIN
CLANG_ENABLE_CODE_COVERAGE = NO
CLANG_CXX_LANGUAGE_STANDARD = compiler-default
CLANG_ENABLE_MODULES = $(DEFINES_MODULE)
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES
CLANG_ENABLE_OBJC_ARC_EXCEPTIONS = $(CLANG_ENABLE_OBJC_ARC)
ENABLE_STRICT_OBJC_MSGSEND = YES
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_ALL = $(ENABLE_STRICT_OBJC_MSGSEND)
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_INTEGER = $(CLANG_UNDEFINED_BEHAVIOR_SANITIZER_ALL)
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_NULLABILITY = $(CLANG_UNDEFINED_BEHAVIOR_SANITIZER_ALL)
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = $(CLANG_ENABLE_OBJC_ARC)
CLANG_WARN_COMPLETION_HANDLER_MISUSE = $(ENABLE_STRICT_OBJC_MSGSEND)
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_EMPTY_BODY = $(DEAD_CODE_STRIPPING)
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = $(ONLY_ACTIVE_ARCH) // !$(ALLOW_TARGET_PLATFORM_SPECIALIZATION)
CLANG_WARN_IMPLICIT_SIGN_CONVERSION[arch=i386] = YES_ERROR
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_FRAMEWORK_INCLUDE_PRIVATE_FROM_PUBLIC = $(VALIDATE_PRODUCT)
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = $(DEFINES_MODULE)
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = $(DEAD_CODE_STRIPPING)
CLANG_WARN_RANGE_LOOP_ANALYSIS = $(ENABLE_TESTABILITY)
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = $(ENABLE_TESTABILITY)
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = $(CLANG_ENABLE_OBJC_ARC)
CLANG_STATIC_ANALYZER_MODE = deep
CLANG_ANALYZER_NONNULL = YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE
GCC_GENERATE_TEST_COVERAGE_FILES[sdk=*] = $(CLANG_ENABLE_CODE_COVERAGE)
GCC_GENERATE_TEST_COVERAGE_FILES[sdk=macosx*] = $(CLANG_ENABLE_CODE_COVERAGE)
GCC_DYNAMIC_NO_PIC = NO
GCC_INSTRUMENT_PROGRAM_FLOW_ARCS[sdk=macosx*] = NO // $(ENABLE_TESTABILITY)
GCC_NO_COMMON_BLOCKS = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_C_LANGUAGE_STANDARD = compiler-default
GCC_CW_ASM_SYNTAX[arch=arm64e] = $(ONLY_ACTIVE_ARCH) // !$(ALLOW_TARGET_PLATFORM_SPECIALIZATION)
GCC_CW_ASM_SYNTAX[arch=x86_64] = $(ONLY_ACTIVE_ARCH) // !$(ALLOW_TARGET_PLATFORM_SPECIALIZATION)
GCC_CW_ASM_SYNTAX[arch=arm64] = $(ONLY_ACTIVE_ARCH) // !$(ALLOW_TARGET_PLATFORM_SPECIALIZATION)
GCC_PREPROCESSOR_DEFINITIONS[sdk=macosx*] = DEBUG=1 TARGET_OS_OSX=1 $(inherited)
GCC_WARN_64_TO_32_BIT_CONVERSION[arch=x86_64] = $(ALLOW_TARGET_PLATFORM_SPECIALIZATION)
GCC_WARN_ABOUT_RETURN_TYPE = $(ENABLE_TESTABILITY)
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_SIGN_COMPARE[arch=*64] = $(ALLOW_TARGET_PLATFORM_SPECIALIZATION)
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION = $(ENABLE_TESTABILITY)
GCC_WARN_UNUSED_VARIABLE = $(ENABLE_TESTABILITY)
GCC_WARN_UNDECLARED_SELECTOR = YES
MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE
MTL_FAST_MATH = NO //disable breaking math by default (unused)
SUPPORTS_MACCATALYST = NO //disable breaking Mac by default (unused)

#include "UnSpecialized.xcconfig"
#include "XCMBuildInfo.xcconfig"
