//
//  XcodePreBuildGlueConfig.xcconfig
//  XCMBuild
//
// reactive-firewall/XCMBuild XcodePreBuildGlueConfig xcconfig
// ..................................
// Copyright (c) 2023-2024, Mr. Walls
// ..................................
// Licensed under APACHE-2 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// ..........................................
// http://www.apache.org/licenses/LICENSE-2.0
// ..........................................
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//:configuration = Release
#include "XcodeBuildGlueConfig.xcconfig"
SUPPORTED_PLATFORMS = macosx
BUILD_VARIANTS = profile normal
DEAD_CODE_STRIPPING = YES
ORDER_FILE = shared/Clang/orderfile
ORDER_FILE_normal = $(ORDER_FILE:standardizepath)
ORDER_FILE_debug = $(ORDER_FILE:standardizepath)
ORDER_FILE_profile = $(ORDER_FILE:standardizepath)
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_ORG_IDENTIFIER)orderfile.$(PROJECT:c99extidentifier)
PRODUCT_MODULE_NAME = $(TARGET_NAME:c99extidentifier)
PRODUCT_NAME = $(PROJECT_NAME:c99extidentifier)-order-$(CURRENT_VARIANT).txt
PRODUCT_NAME_profile = $(PROJECT_NAME:c99extidentifier)-order-profile.txt
PRODUCT_NAME_debug = $(PROJECT_NAME:c99extidentifier)-order-debug.txt
PRODUCT_NAME_normal = $(PROJECT_NAME:c99extidentifier)-order-normal.txt
