//
//  XcodeBuildDebugGlueConfig.xcconfig
//  XCMBuild
//
// reactive-firewall/XCMBuild Testing xcconfig
// ..................................
// Copyright (c) 2023, Mr. Walls
// ..................................
// Licensed under APACHE-2 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// ..........................................
// http://www.apache.org/licenses/LICENSE-2.0
// ..........................................
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//:configuration = Debug
#include "Debug.xcconfig"
PLIST_FILE_OUTPUT_FORMAT = XML
STRINGS_FILE_OUTPUT_ENCODING = UTF-8
WRAPPER_EXTENSION = framework
PRODUCT_MODULE_NAME = $(PROJECT_NAME:c99extidentifier).$(PRODUCT_NAME:c99extidentifier)
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @executable_path/../../../Current @loader_path/Frameworks
//OTHER_CODE_SIGN_FLAGS = $(inhereted) --prefix=$(PRODUCT_ORG_IDENTIFIER) --preserve-metadata -o hard
OTHER_CODE_SIGN_FLAGS = $(inhereted) --prefix=$(PRODUCT_ORG_IDENTIFIER) --preserve-metadata=identifier,entitlements,flags --identifier=$(PRODUCT_ORG_IDENTIFIER)$(PROJECT_NAME) -o hard --generate-entitlement-der
//CONTENTS_FOLDER_PATH = <Multiple values>
WRAPPER_NAME = $(PRODUCT_NAME:c99extidentifier).$(WRAPPER_EXTENSION)
