//
//  XcodeCompileToolsDebug.xcconfig
//  XCMBuild
//
// reactive-firewall/XCMBuild XcodeCompileToolsDebug xcconfig
// ..................................
// Copyright (c) 2023, Mr. Walls
// ..................................
// Licensed under APACHE-2 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// ..........................................
// http://www.apache.org/licenses/LICENSE-2.0
// ..........................................
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "XcodeBuildDebugGlueConfig.xcconfig"

//:completeSettings = XcodeCompileToolsDebug
ON_DEMAND_RESOURCES_INITIAL_INSTALL_TAGS = XCMHelper
ON_DEMAND_RESOURCES_PREFETCH_ORDER = XCMBuild
BUILD_VARIANTS = profile normal
DEPLOYMENT_LOCATION = YES
DEPLOYMENT_POSTPROCESSING = $(DEPLOYMENT_LOCATION)
INSTALL_PATH = $(CONTENTS_FOLDER_PATH)/usr/bin
STRIP_INSTALLED_PRODUCT = NO
MACOSX_DEPLOYMENT_TARGET = 13.3
MACOSX_DEPLOYMENT_TARGET[arch=arm64e] = 13.3
MACOSX_DEPLOYMENT_TARGET[arch=arm64] = 13.3
MODULE_NAME = $(TARGET_NAME:c99extidentifier)
DEAD_CODE_STRIPPING = $(STRIP_INSTALLED_PRODUCT)
LD_EXPORT_SYMBOLS = $(inhereted)
LINKER_DISPLAYS_MANGLED_NAMES[sdk=macosx*] = !$(DEAD_CODE_STRIPPING)
OTHER_LDFLAGS = -ObjC -weak_framework CoreFoundation,framework -weak_framework Foundation,framework -framework XCMBuild,framework
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../../$(LOCAL_LIBRARY_DIR:standardizepath)/Frameworks/XCMBuild.framework @executable_path/../lib @executable_path/../../../Current @loader_path/Frameworks @loader_path/../Frameworks @loader_path/../lib
DEFINES_MODULE = YES
EXECUTABLE_EXTENSION = -$(CURRENT_VARIANT)
PRODUCT_MODULE_NAME = $(PROJECT_NAME:c99extidentifier).$(PRODUCT_NAME:c99extidentifier)
PRODUCT_NAME = $(TARGET_NAME:c99extidentifier)
CODE_SIGN_ENTITLEMENTS = shared/security/entitlements/$(PRODUCT_NAME:c99extidentifier).entitlements
CODE_SIGN_STYLE = Manual
ENABLE_HARDENED_RUNTIME = YES
TAPI_EXCLUDE_PROJECT_HEADERS = xcrunshell.h
TAPI_EXTRA_PROJECT_HEADERS = XCMBuild.h XCMShellDelegate.h XCMShell.h
TAPI_EXTRA_PUBLIC_HEADERS = $(PRODUCT_NAME:c99extidentifier).h
GCC_INPUT_FILETYPE = sourcecode.c.objc
CLANG_MODULES_AUTOLINK = YES
ENABLE_MODULE_VERIFIER = $(DEFINES_MODULE)
CONTENTS_FOLDER_PATH = $(PROJECT_NAME:c99extidentifier).framework/Versions/$(MARKETING_VERSION)

// CLANG_TIDY_MISC_REDUNDANT_EXPRESSION = NO
