//
//  Config.xcconfig
//  XCMBuild
//
// reactive-firewall/XCMBuild Repo xcconfig
// ..................................
// Copyright (c) 2023, Mr. Walls
// ..................................
// Licensed under APACHE-2 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// ..........................................
// http://www.apache.org/licenses/LICENSE-2.0
// ..........................................
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//:configuration = Debug
APPLY_RULES_IN_COPY_FILES = YES
BUILD_LIBRARY_FOR_DISTRIBUTION = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES
CLANG_LINK_OBJC_RUNTIME = YES
CLANG_MODULES_AUTOLINK = NO
CLANG_MODULES_DISABLE_PRIVATE_WARNING = YES
CLANG_STATIC_ANALYZER_MODE = shallow
CLANG_STATIC_ANALYZER_MODE[sdk=macosx*] = deep
CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK = YES_AGGRESSIVE
COMBINE_HIDPI_IMAGES = YES
DEFINES_MODULE = YES
DEPLOYMENT_LOCATION = YES
DOCC_EXTRACT_SWIFT_INFO_FOR_OBJC_SYMBOLS = $(DOCC_EXTRACT_EXTENSION_SYMBOLS)
ENABLE_MODULE_VERIFIER = YES
GCC_GENERATE_TEST_COVERAGE_FILES = $(CLANG_ENABLE_CODE_COVERAGE)
GCC_INPUT_FILETYPE = sourcecode.c.objc
GCC_WARN_STRICT_SELECTOR_MATCH = YES
GCC_WARN_UNKNOWN_PRAGMAS = YES
GENERATE_INFOPLIST_FILE = YES
//GENERATE_MASTER_OBJECT_FILE = NO
GENERATE_TEXT_BASED_STUBS = YES
MODULE_VERIFIER_SUPPORTED_LANGUAGES = objective-c
OTHER_LDFLAGS = -framework Foundation,framework
RUN_CLANG_STATIC_ANALYZER = YES
//SECTORDER_FLAGS = -Xlinker -no_order_inits
SKIP_INSTALL[sdk=macos*] = NO
STRIP_PNG_TEXT = YES
SUPPORTS_MACCATALYST = YES
TAPI_EXTRA_PRIVATE_HEADERS = xcrunshell.h
TAPI_EXTRA_PROJECT_HEADERS = Compat.h
TAPI_EXTRA_PUBLIC_HEADERS = XCMTest.h
TAPI_VERIFY_MODE = Pedantic
VALIDATE_PRODUCT = YES
MACOSX_DEPLOYMENT_TARGET = $(inhereted)
MACOSX_DEPLOYMENT_TARGET[arch=i386] = $(RECOMMENDED_MACOSX_DEPLOYMENT_TARGET)
#include "NoTAPIConfig.xcconfig"
#include "XcodeFrameworkConfig.xcconfig"
