//
//  XcodeCompileToolsRelease.xcconfig
//  XCMBuild
//
// reactive-firewall/XCMBuild XcodeCompileToolsRelease xcconfig
// ..................................
// Copyright (c) 2023, Mr. Walls
// ..................................
// Licensed under APACHE-2 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// ..........................................
// http://www.apache.org/licenses/LICENSE-2.0
// ..........................................
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//:configuration = Release
#include "XcodeBuildGlueConfig.xcconfig"
ON_DEMAND_RESOURCES_INITIAL_INSTALL_TAGS = XCMHelper
ON_DEMAND_RESOURCES_PREFETCH_ORDER = XCMBuild
BUILD_VARIANTS = normal
DEPLOYMENT_LOCATION = YES
DEPLOYMENT_POSTPROCESSING = $(DEPLOYMENT_LOCATION)
INSTALL_PATH = $(LOCAL_LIBRARY_DIR:standardizepath)/Frameworks/$(CONTENTS_FOLDER_PATH:standardizepath)/usr/bin
STRIP_INSTALLED_PRODUCT = $(DEPLOYMENT_LOCATION)
MODULE_NAME = $(TARGET_NAME:c99extidentifier)
MACH_O_TYPE = mh_execute
DEAD_CODE_STRIPPING = $(STRIP_INSTALLED_PRODUCT)
LINKER_DISPLAYS_MANGLED_NAMES[sdk=macosx*] = !$(DEAD_CODE_STRIPPING)
LD_EXPORT_SYMBOLS = !$(DEAD_CODE_STRIPPING)
OTHER_LDFLAGS = -ObjC -weak_framework CoreFoundation,framework -weak_framework Foundation,framework -framework XCMBuild,framework
FRAMEWORK_SEARCH_PATHS = $(LOCAL_LIBRARY_DIR:standardizepath)/Frameworks/** $(LOCAL_LIBRARY_DIR:standardizepath)/Frameworks/$(CONTENTS_FOLDER_PATH)/** $(inhereted)
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../../$(LOCAL_LIBRARY_DIR:standardizepath)/Frameworks/XCMBuild.framework @executable_path/../lib @executable_path/../../../Current @loader_path/Frameworks @loader_path/../Frameworks @loader_path/../lib
DEFINES_MODULE = YES
LLVM_LTO = YES_THIN
LLVM_LTO[sdk=macosx*][arch=arm64] = YES_THIN
LLVM_LTO[sdk=macosx*][arch=x86_64] = YES_THIN
LLVM_LTO[sdk=macosx*][arch=arch64] = YES_THIN
EXECUTABLE_EXTENSION_profile = -profile
EXECUTABLE_EXTENSION_debug = -debug
EXECUTABLE_EXTENSION = $(inhereted)
PRODUCT_MODULE_NAME = $(PROJECT_NAME:c99extidentifier).$(PRODUCT_NAME:c99extidentifier)
CREATE_INFOPLIST_SECTION_IN_BINARY = YES
PRODUCT_NAME = $(TARGET_NAME:c99extidentifier)
CODE_SIGN_ENTITLEMENTS = shared/security/entitlements/XCMTestRelease.entitlements
//CODE_SIGN_STYLE = $(inhereted)
ENABLE_HARDENED_RUNTIME = YES
TAPI_EXCLUDE_PROJECT_HEADERS = xcrunshell.h
TAPI_EXTRA_PROJECT_HEADERS = Compat.h XCMBuild.h XCMShellDelegate.h XCMShell.h XCMProcesses.h
TAPI_EXTRA_PUBLIC_HEADERS = $(PRODUCT_NAME:c99extidentifier).h
GCC_INPUT_FILETYPE = sourcecode.c.objc
CLANG_MODULES_AUTOLINK = YES
ENABLE_MODULE_VERIFIER = $(DEFINES_MODULE)
CONTENTS_FOLDER_PATH = $(PROJECT_NAME:c99extidentifier).framework/Versions/$(FRAMEWORK_VERSION)
DEAD_CODE_STRIPPING = YES
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../../../XCMBuild.framework @executable_path/../Frameworks @executable_path/../../../Current @loader_path/Frameworks
OTHER_CODE_SIGN_FLAGS = $(inhereted) --prefix=$(PRODUCT_ORG_IDENTIFIER) --preserve-metadata -o library,hard
CLANG_TIDY_MISC_REDUNDANT_EXPRESSION = YES
